<div class="p-2 border-b shadow-sm">
  <header class="flex justify-between items-center">
    <a href=""><img class="h-12 w-12" src="assets/logo.png" alt=""></a>
    <div>
      <ul class="flex space-x-3">
        <li><a href="" class="text-base font-bold hover:text-green-500">Articulos</a></li>
        <li><a href="" class="text-base font-bold hover:text-green-500">Publicaciones</a></li>
        <li><a href="" class="text-base font-bold hover:text-green-500">Usuarios</a></li>
      </ul>
    </div>
  </header>
</div>